.App {
  text-align: center;
  opacity: 1;
}

.title{
 background-color:gold;
  padding: 12px;
  font-size: 25px;
  font-weight: bold;
}
.nav-bar{
  padding: 12px;
 
  background-color:navy;
  display: flex;
justify-content: flex-start;
gap: 0.5rem;
}

.nav-buttons{
  border:1px solid white;
 padding: 12px;
 border-radius: 5px;
 color: white;
 background-color: navy;
}

.nav-buttons:hover{
  background-color: white;
  color: black;
  border: none;
}
.view-btn:hover{
background-color: mediumslateblue;
}
footer{ 

  padding: 5px;
  font-size: larger;
  height: 80px;
background-color:navy;
color: white;
}

.user-card{
  background-color:gold;
  border-radius: 5px;
width: 250px;height: 250px;
color: #2A2E34;
}

.user-content{
  margin: 18px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 1rem;
}

.btn{
  padding: 10px;
  margin: 5px;
  border: none;border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover{
  background-color: blue;
  color: white;
}

.del-btn:hover{
  background-color: crimson;
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin-top:1vh; 
}

.inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
  flex-wrap: wrap;
}


.card{
 margin-top: 30px;
}

.card-btn{
  font-size: 20px;
  width: 50%;height: 50px;
  border: none;border-radius: 8px;
}

.card-btn:hover{
  width: 55%;height: 55px;
  color: gold;
  background-color:navy;
}